.pachacutec{
    background-color: aquamarine;}
.pachacutec h2{
    color: blueviolet;}
.sobremi{
    background-color: rgb(109, 100, 237);}
.sobremi h2{color: black;}
.misskills{
    background-color: darkviolet;
}
.misskills h2{color: rgb(0, 255, 200);}
.portafolio{
    background-color: goldenrod;
}
.portafolio h2{color: seagreen;}
.clientes{
    background-color: slategray;
}
.clientes h2{color: springgreen;}
.contacto{
    background-color: teal;
}
.contacto h2{ color: red;}